doctype html
html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

			link(href='img/favicon.ico?v=1' rel='shortcut icon' type='image/x-icon')
			title Wiki Guias

			link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
			link(href='style.css', rel='stylesheet')

			script(defer src='//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
			script(defer src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
			script(defer src='//cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.js')

			script(defer src='card_data.js')
			script(defer src='card_tooltips.js')
			script(defer src='main.js')

	body
		.container
			.row
				.col-md-10
					a.page-title(href='?p=Home')
						h1 Wiki Guias
			.row
				.col-md-12.pilltainer
					a.copyright(href='http://creativecommons.org/licenses/by/4.0/')
						img(alt='Creative Commons License' style='border-width:0' src='https://i.creativecommons.org/l/by/4.0/88x31.png')
					.row
						main#main.col-md-10.col-md-offset-1
							//- Default contents
							h1 Whoops :(
							p.lead Parece que tienes JavaScript desactivado.						

		a.ribbon(href='https://github.com/ManuelBlanc/hearthstone-wiki/wiki' title='Fork me on GitHub')
			| Fork me on GitHub