
body {
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%) no-repeat;
	background-attachment: fixed;
}

@screen-sm-min: 768px;

body {
	min-height: 100vh;
}

.pilltainer {
	background-color: #fff;
	//border: 2px solid darken(darkorange, 10%);
	box-shadow: 0 0 20px black;

	padding-top: 5vh;
	padding-bottom: 5vh;

	min-height: 100px;

	@media (min-width: @screen-sm-min) {
		border-radius: 10px;
		margin-top: 5vh;
		margin-bottom: 10vh;
	}
}

@import url(https://fonts.googleapis.com/css?family=Passion+One);
h1.page-title {

	color: white;

	font-family: 'Passion One', cursive, sans-serif;
	//font-weight: bolder;
	font-size: 50px;

	@media (reader) {
		text-decoration: underline;
		font-weight: normal;
	}

	margin-bottom: 0;
	padding-left: 1em;


	@stroke-color:  black;
	@stroke-radius: 2px;

	//*
	text-shadow:
	 @stroke-radius  	0                	0	@stroke-color,
	-@stroke-radius  	0                	0	@stroke-color,
	0                	 @stroke-radius  	0	@stroke-color,
	0                	-@stroke-radius  	0	@stroke-color,
	 @stroke-radius/2	 @stroke-radius/2	0	@stroke-color,
	-@stroke-radius/2	-@stroke-radius/2	0	@stroke-color,
	 @stroke-radius/2	-@stroke-radius/2	0	@stroke-color,
	-@stroke-radius/2	 @stroke-radius/2	0	@stroke-color;
	//*/
}

::selection {
	background: lighten(darkorange, 10%) !important;
	//text-shadow: 0 0 5px purple;
}

main.loading {
	min-height: 200px;
	background: url('img/spinner.gif') no-repeat center;
	text-indent: -9999px;
}

.hs-mana {
	display: inline-block;
	width: .9em; 
	height: .9em;
	background: url('img/mana.png') no-repeat;
	background-size: .9em;
	vertical-align: middle;
	text-indent: -9999px;
}

.hs-card {
	color: #224;
	font-weight: bolder;

	&.free      { text-shadow: #000000 !important; }
	&.common    { text-shadow: #0faf03 !important; }
	&.rare      { text-shadow: #198eff !important; }
	&.epic      { text-shadow: #ab48ee !important; }
	&.legendary { text-shadow: #f07000 !important; }

	&.invalid {
		color: #f00 !important;
		text-decoration: line-through;
	}

	&:hover {
		color: #822;
		cursor: help;
	}
}

.popover {
	background: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 0;
	box-shadow: none;
	.popover-content { padding: 0; }
}


.container {
	position: relative;
}
.ribbon {
	// Hide the text
	font-size: 0;
	// Image
	background: url('img/github_ribbon.png') no-repeat;
	background-size: contain;
	// Positioning & sizing
	position: fixed;
	top:  0;
	right: 0;
	min-height: 98px;
	min-width:  98px;
	height: 7em;
	width:  7em;
	z-index: 999;
	// Opacity
	opacity: 1;
	//transition: 0.5s opacity;
	//&:hover { opacity: 1; }
}